<a href="https://colab.research.google.com/github/barsa143/spectrum-cet-tasks/blob/master/task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1 Of Spectrum CET.

In [0]:
#program 1:Create an outer and inner function and with two parameters a and b and add them,then add 5 to the outer function
def outerFun(a, b):
    square = a**2
    def innerFun(a,b):
        return a+b
    add = innerFun(a, b)
    return add+5
    result = outerFun(5, 10)
print(result)

In [0]:
#program 2 - Input a String and arrange all characters so that all lowercases come first
string=input("enter a string of combination of upper and lower")
l=len(string)
for i in range(0,l):
  if(string[i].islower()):
    print(string[i],end = "")
for j in range(0,l):
  if(string[j].isupper()):
    print(string[j],end="")

In [0]:
#program 3 - even odd

a=[]
n=int(input("enter numbers of elements:"))
for i in range(1,n+1):
  b=int(input("enter element:"))
  a.append(b)
even=[]
odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("the even list",even)
print("the odd list",odd)

In [0]:
#program 4 - Minimum value from the following dictionary using appropriate python logic
sample_dict={'physics':88,'maths':75,'chemistry':72,'basic electrical':89}
print("the original dictionary is :"+str(sample_dict))
temp=min(sample_dict.values())
res=[key for key in sample_dict if sample_dict[key]==temp]
print("keys with minimum values are :"+str(res))

In [0]:
#program 5 - Update two sets
s1={1,2,3,4,5,6,7,8}
s2={1,3,4,6,8,11,22,34,51,67}
s1.difference_update(s2)
print(s1)

In [0]:
# program 6 - calculator
def add(n1,n2):
  return n1+n2
def subtract(n1,n2):
  return n1-n2
def multiply(n1,n2):
  return n1*n2
def divide(n1,n2):
  return n1/n2
print("select operation -\n"\
      "1. add\n" \
       "2.subtract\n" \
       "3.multiply\n" \
      "4.divide\n")
select=int(input("select operations form 1,2,3,4:"))
num_1 = int(input("enter first number: "))
num_2 = int(input("enter second number: "))
if select ==1:
  print(num_1,"+",num_2,"=",add(num_1,num_2))
elif select == 2:
  print(num_1,"-",num_2,"=",subtract(num_1,num_2))
elif select == 3:
  print(num_1,"*",num_2,"=",multiply(num_1,num_2))
elif select == 4:
  print(num_1,"/",num_2,"=",divide(num_1,num_2))
else:
  print("invalid input")

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
# program 7 - Read a csv file and print first 5 rows
import pandas as pd
diamonds=pd.read_csv('diamonds.csv')
print("original Dataframe:")
print(diamonds.head())
print("number of rows and columns:")
print(diamonds.shape)
print("after droping:")
print(diamonds.dropna(how='any').shape)

original Dataframe:
   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]
number of rows and columns:
(53940, 11)
after droping:
(53940, 11)

In [0]:
#program 8 - Pandas program to select a series from Diamonds DataFrame. Print the content of the series
import pandas as pd
diamonds=pd.read_csv('diamonds.csv')
print("original Dataframe:")
print(diamonds.head())
print("number of rows and columns:")
print(diamonds.shape)
print("after droping:")
print(diamonds.dropna(how='any').shape)

original Dataframe:
   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]
number of rows and columns:
(53940, 11)
after droping:
(53940, 11)

In [0]:
#program 11 - Pandas program to count the duplicate rows of diamonds DataFrame
import pandas as pd
diamonds=pd.read_csv('diamonds.csv')
print("original dataframe:")
print(diamonds.shape)
print("\nDuplicate rows of diamonds Dataframe:")
print(diamonds.duplicated().sum())

original dataframe:
(53940, 11)

Duplicate rows of diamonds Dataframe:
0

In [0]:
#program 9-Pandas program to calculate count,minimum,maximum price for each cut of diamonds Dataframe
import pandas as pd
pd.set_option('display.max_row',50)
pd.set_option('display.max_columns',50)
diamonds=pd.read_csv('diamonds.csv')
print("first 5 rows:")
print(diamonds.head())

first 5 rows:
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

In [0]:
#program 10 - Pandas program to check the number of rows and columns and drop those row if 'any' values are missing in a row of diamonds DataFrame.

import pandas as pd
diamonds=pd.read_csv('diamonds.csv')
print("original Dataframe:")
print(diamonds.head())
print("number of rows and columns:")
print(diamonds.shape)
print("after droping:")
print(diamonds.dropna(how='any').shape)

original Dataframe:
   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]
number of rows and columns:
(53940, 11)
after droping:
(53940, 11)

In [0]:
# progrAm 12:Pandas program to count the duplicate rows of diamonds DataFrame
import pandas as pd
diamonds=pd.read_csv('diamonds.csv')
print("original dataframe:")
print(diamonds.shape)
print("\nDuplicate rows of diamonds Dataframe:")
print(diamonds.duplicated().sum())

original dataframe:
(53940, 11)

Duplicate rows of diamonds Dataframe:
0